<div id="layer" class="hide-layer">
  <div class="alert">
    <h3 class="title"></h3>
    <p></p>
    <div class="html"></div>
    <span class="buttons">
      <button></button>
      <button></button>
    </span>
  </div>
</div>
