<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/web"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span class="fs-4">DevnGo FAQs</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a 
          href="/web" 
          class="nav-link <% if (view === 'home') { %>active<% } %>" 
          aria-current="<% if (view === 'home') { %>page<% } %>"
        >Accueil</a>
      </li>
      <li class="nav-item">
        <a 
          href="/web/question/add" 
          class="nav-link <% if (view === 'add-question') { %>active<% } %>" 
          aria-current="<% if (view === 'add-question') { %>page<% } %>"
        >Poser une question</a>
      </li>
    </ul>
  </header>
</div>
