<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
<script src="https://static.fekamo.com/get/libs/lakaflibrairies/state-reactive/state-reactive-latest.min.js"></script>
<script src="/js/api.js"></script>
<script src="/js/init.js"></script>
<script src="/js/custom-alert.js"></script>
<script src="/js/auth.js"></script>
<% if (view === "add-question") { %>
<script src="/js/question.js"></script>
<% } %>
