html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#layer {
  position: fixed;
  inset: 0;
  background-color: #999999cf;
  transition: opacity 0.5s ease;
  justify-content: center;
  align-items: center;
}

#layer .alert {
  width: 280px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

#layer .alert h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
}

#layer .alert p {
  text-align: center;
}

#layer .alert .html {
  width: 100%;
}

#layer .alert .buttons {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0;
}

#layer .alert .buttons button {
  min-width: 100px;
}

.hide-layer {
  display: none;
  opacity: 0;
}

.show-layer {
  display: flex;
  opacity: 1;
}

.btn-blue {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
