<!DOCTYPE html>
<html lang="<% if (!locals.lang) { %>en<% } else { %><%=lang%><% } %>">
  <head>
    <%- 
      include(resolveHtmlBloc("skeletons/head.skeleton.ejs"))
    %>
  </head>
  <body>
    <%- 
      include(resolveHtmlBloc("skeletons/sidebar.skeleton.ejs"))
    %>
    <%-
      include(resolveHtmlBloc(page))
    %>
    <%-
      include(resolveHtmlBloc("skeletons/right-sidebar.skeleton.ejs"))
    %>
    <%-
      include(resolveHtmlBloc("skeletons/footer.skeleton.ejs"))
    %>
  </body>
</html>
