<%- include("../partials/header.partial.ejs") %>
<div class="container" id="home">
  <h4><%= title %></h4>
  <p>La page demandée est introuvable.</p>
</div>
<%- include("../partials/custom-alert.partial.ejs") %>
<%- include("../partials/footer-copy.partial.ejs") %>
<%- include("../partials/scripts.partial.ejs") %>
