<%- include("../partials/header.partial.ejs") %>
<div class="container" id="add-question">
  <h4><%= title %></h4>
  <div style="width: 100%; margin-top: 20px; height: 0;"></div>
  <div class="row g-3">
    <div class="col-12">
      <textarea 
        class="form-control" 
        rows="6" 
        style="resize: none;" 
        id="question" 
        placeholder="Votre question..."
      ></textarea>
    </div>
  </div>
  <div style="width: 100%; margin-top: 30px; height: 0;"></div>
  <button 
    class="w-100 btn btn-primary btn-lg" 
    type="button" 
    id="submit-question"
  >Soumettre</button>
</div>
<%- include("../partials/custom-alert.partial.ejs") %>
<%- include("../partials/footer-copy.partial.ejs") %>
<%- include("../partials/scripts.partial.ejs") %>
