<%- include("../partials/header.partial.ejs") %>
<div class="container" id="home">
  <h4><%= title %></h4>
  <% for (var question of questions) { %>
  <div class="list-group w-auto" id="question-<%= question.id %>">
    <span class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0"><%= question.questionValue %></h6>
          <span 
            style="display: inline-block; margin-top: 9px; margin-bottom: 4px; font-size: 14px;"
          >Réponses</span>
          <% for (var response of question.Responses) { %>
          <p class="mb-0 opacity-75" style="margin-left: 15px;"><%= response.responseValue %></p>
          <% } %>
        </div>
      </div>
    </span>
  </div>
  <div style="width: 100%; margin-top: 15px; height: 0;"></div>
  <% } %>
</div>
<%- include("../partials/custom-alert.partial.ejs") %>
<%- include("../partials/footer-copy.partial.ejs") %>
<%- include("../partials/scripts.partial.ejs") %>
